<div class="container" style="padding: 5%;padding-left: 5%;">
  <div class="div" style="padding-left: 30%;">
    <h1>Hire Chat Agents</h1>
    <h5>Commence a completely free 7-day trial — no obligation</h5>

    <label for="text" class="col-sm-4 col-form-label">Your Name</label>
    <br>
    <div class="col-sm-4">
        <input type="text" class="form-control " id="inputPassword" placeholder="Name">
    </div>

    <br>
    <label for="text" class="col-sm-4 col-form-label">What's your email address?
    </label>
    <br>
    <div class="col-sm-4">
        <input type="text" class="form-control" id="inputPassword" placeholder="email">
    </div>
    <br>

    <label for="text" class="col-sm-4 col-form-label">Your best contact number (including your country code)</label>
    <br>
    <div class="col-sm-4">
        <input type="text" class="form-control" id="inputPassword" placeholder="number">
    </div>

    <br> <label for="text" class="col-sm-4 col-form-label">Your website URL
    </label>
    <br>
    <div class="col-sm-4">
        <input type="text" class="form-control" id="inputPassword" placeholder="http://">
    </div>
    <br>

    <button class="btn btn-success btn-lg" style="background-color: #03a84e;">REQUEST FREE 7DAY TRIAL</button> <br>

    <p>No obligation • Nothing to pay • 7-Day Free Trial​</p>

  </div>

</div>