
<div class="div" style="padding-left: 20%;">
    <div class="container" style="padding: 10%;padding-top: 0%;">
        <div class="div" >
            <img style="width: 150px;float: left;" src="https://dashboard.tawk.to/_s/assets/images/tawk-logo-other-3x.png"
                alt="">
            <br><br><br>
           
            <h3 >Create a completely free account</h3> <br>
            <div class="d-grid col-3">
                <input class="form-control form-control-lg" type="text" placeholder="Enter Your Name"> <br>
                <input class="form-control form-control-lg" type="text" placeholder="Enter Email"> <br>
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Enter Your Name">
                    <i style="color: #03a84e; text-align: center; margin-top: 3%; margin-left: -8%;transform: scaleX(1.2);" class="fa fa-eye"></i>
                </div> <br>
                <ul style="color: #03a84e;">
                    <li><p style="color: black;">6 characters minimum</p></li>
                    <li><p style="color: black;"> At least one number</p></li>
                    <li><p style="color: black;"> Upper & lowercase character</p></li>
                </ul>
                
                <button class="btn btn-success btn-lg" style="background-color: #03a84e;">Sign Up For Free</button>
               <br> <p>Already have an account? <a href="" style="color: #03a84e;"> Return to Sign In</a></p>
            </div>
           
            <!-- <p>Privacy & Terms Contact Us English (United States) 
                العَرَبِية
                Български
                Català
                Čeština
                Dansk
                Deutsch
                English (United States)
                Español
                Suomi
                Français
                हिंदी
                Italiano
                Magyar
                Bahasa Indonesia
                한국어
                Nederlands
                Polski
                Português (Brasil)
                Română
                Русский
                Slovenčina
                Svenska
                Türkçe
                Tiếng Việt
                繁体中文
                </p> -->
        </div>
    </div>
</div>