<div class="container" style="padding: 5%;">
    <h2 style="text-align: center;">Your team is going to thank you</h2>
    <h6 style="text-align: center;"> <br>
        Your customers and your team are capable of helping themselves. 
        All they need is a fast and organized place to find what they’re looking for.
         So that’s what we built.</h6> 
    
       
    <div style="text-align: center;">    
    <ul class="unorder bl" style="display: flex;" >
        <li style="padding: 5%;"><i class="fa-solid fa-circle-check l"></i>Easy setup</li>
        <li style="padding: 5%;"><i class="fa-solid fa-circle-check l"></i>Free Forever</li>
        <li style="padding: 5%;"><i class="fa-solid fa-circle-check l"></i>Secure</li>
    </ul>
    
        <button class="btn btn-success btn-lg bl" style="background-color: #03a84e;"><i class="fa-regular fa-thumbs-up"></i>SIGN UP FREE </button>
    </div>
</div>

