<div class="main">
  <div class="container" style="padding: 5%;">   
     <nav class="navbar navbar-expand-lg bg-body">
        <div class="container-fluid">
            <img style="height: 10%; width: 5%;" src="https://tawk.link/521727297ca1334016000005/kb/logo/GywfVsALNP.png" alt="">
          <a class="navbar-brand" href="#"> Help Center | tawk.to</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse offcanvas offcanvas-start"  id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
             
            </ul>
           
          </div>
        </div>
      </nav>
     
      <br>
      <div style="padding: 5%; text-align: center;">
        <h1 >G'Day. How can we help?</h1>
        <br>
        <form class="flex" >
          <input style="width: 50%;" class=" from-control form-control-lg" type="search" placeholder="Search for answer" aria-label=".form-control-lg example">
          <button class="btn"> <i class="fa fa-magnifying-glass s" ></i></button>
        </form>
        <br>
        
       <div style="display:flex; text-align: center;" >
        <i class="fa-solid fa-table-cells-large icon"></i> <br>
        <i class="fa-sharp fa-solid fa-grid-2"></i>
        <i class="fa-solid fa-bars icon"></i>
       </div>
      </div>
    </div>

</div>


<div class="main2" style="background-color: #F9F9F9;">
  
<div class="container" style="padding: 5%;">
<div class="row" style="margin-top: -15%;">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <h1><i class="fa fa-circle-arrow-right ci"></i></h1>
        <h5>Getting Started</h5>
        <p style="font-size: 13px;"><span style="color:#03a84e">9 articles</span> <br>
        Last Update 19 hours ago</p>
      </div>
    </div>
  </div>

  <div class="col-md-4"><div class="card"><div class="card-body" >
    <h1></h1>
    <h5> Chat Widget Customization</h5>
    <p style="font-size: 13px;"><span style="color:#03a84e">9 articles</span> <br>
      Last Update 19 hours ago</p>
  </div></div></div>

  <div class="col-md-4"><div class="card"><div class="card-body">
    <h1><i class="fa fa-table-columns ci"></i></h1>
    <h5>Dashboard101</h5>
    <p style="font-size: 13px;"><span style="color:#03a84e">27 articles</span> <br>
      Last Update a day  ago</p>
  </div></div></div> 
</div>

  <div class="row">
    <div class="col-md-4"><div class="card"><div class="card-body">
      <h1><i class="fa-solid fa-dollar-sign ci"></i></h1>
      <h5>Billing</h5>
      <p style="font-size: 13px;"><span style="color:#03a84e">7 articles</span> <br>
        Last Update 12 day  ago</p>
    </div></div></div> 

    <div class="col-md-4"><div class="card"><div class="card-body">
      <h1><i class="fa fa-circle-arrow-up ci"></i></h1>
      <h5>Advanced features</h5>
      <p style="font-size: 13px;"><span style="color:#03a84e">27 articles</span> <br>
        Last Update a day  ago</p>
    </div></div></div> 

    <div class="col-md-4"><div class="card"><div class="card-body">
      <h1><i class="fa fa-cart-shopping ci"></i></h1>
      <h5>Shopping Cart Integrations</h5>
      <p style="font-size: 13px;"><span style="color:#03a84e">12 articles</span> <br>
        Last Update 9 day  ago</p>
    </div></div></div>

    <div class="col-md-4"><div class="card"><div class="card-body">
      <h1><i class="fa fa-share-nodes ci"></i></h1>
      <h5>Integrations</h5>
      <p style="font-size: 13px;"><span style="color:#03a84e">37 articles</span> <br>
        Last Update 2 day  ago</p>
    </div></div></div>

    <div class="col-md-4"><div class="card"><div class="card-body">
      <h1><i class="fa-solid fa-layer-group ci"></i></h1>
      <h5>Google Integrations</h5>
      <p style="font-size: 13px;"><span style="color:#03a84e">7 articles</span> <br>
        Last Update 9 day  ago</p>
    </div></div></div>

    <div class="col-md-4"><div class="card"><div class="card-body">
      <h1><i class="fa  fa-book-open ci"></i></h1>
      <h5>Knowledge Base</h5>
      <p style="font-size: 13px;"><span style="color:#03a84e"> 11articles</span> <br>
        Last Update 2 month ago</p>

    </div></div></div> 

    <div class="col-md-4"><div class="card"><div class="card-body">
      <h1><i class="fa fa-mobile ci"></i></h1>
      <h5>iOS</h5>
<p style="font-size: 13px;"><span style="color:#03a84e">15 articles</span> <br>
        Last Update 9 day  ago</p>
    </div></div></div> 

    <div class="col-md-4"><div class="card"><div class="card-body">
      <h1><i class="fa  fa-mobile ci"></i></h1>
      <h5>Android</h5>
      <p style="font-size: 13px;"><span style="color:#03a84e">27 articles</span> <br>
        Last Update a day  ago</p>
    </div></div></div>

    <div class="col-md-4"><div class="card"><div class="card-body">
      <h1><i class="fa fa-box ci"></i></h1>
      <h5>Add-ons</h5>
      <p style="font-size: 13px;"><span style="color:#03a84e">17 articles</span> <br>
        Last Update a month ago</p>
    </div></div></div>

    <div class="col-md-4"><div class="card"><div class="card-body">
      <h1><i class="fa-solid fa-link ci"></i></h1>
      <h5>Profile Page</h5>
<p style="font-size: 13px;"><span style="color:#03a84e">6 articles</span> <br>
        Last Update a month  ago</p>
    </div></div></div>

    <div class="col-md-4"><div class="card"><div class="card-body">
      <h1><i class="fa-solid fa-bookmark ci"></i></h1>
      <h5>Ticketing</h5>
<p style="font-size: 13px;"><span style="color:#03a84e">12 articles</span> <br>
        Last Update 5 day  ago</p>
    </div></div></div>

    <div class="col-md-4"><div class="card"><div class="card-body">
      <h1><i class="fa-solid fa-comment ci"></i></h1>
      <h5>Frequently Asked Questions</h5>
<p style="font-size: 13px;"><span style="color:#03a84e">40 articles</span> <br>
        Last Update 6 day  ago</p>
    </div></div></div>

    <div class="col-md-4"><div class="card"><div class="card-body">
      <h1><i class="fa fa-thumbs-up ci"></i></h1>
      <h5>Best Practices</h5>
<p style="font-size: 13px;"><span style="color:#03a84e">8 articles</span> <br>
        Last Update a month  ago</p>
    </div></div></div>

    <div class="col-md-4"><div class="card"><div class="card-body">
      <h1></h1>
      <h5>Troubleshooting</h5>
<p style="font-size: 13px;"><span style="color:#03a84e">6 articles</span> <br>
        Last Update a month  ago</p>
    </div></div></div>

    <div class="col-md-4"><div class="card"><div class="card-body">
      <h1 class="ci"><i class="fa-solid fa-angle-left"><i class="fa-solid fa-angle-right"></i></i></h1>
      <h5>Javascript API</h5>
<p style="font-size: 13px;"><span style="color:#03a84e">14 articles</span> <br>
        Last Update 11 day  ago</p>
    </div></div></div>

    <div class="col-md-4"><div class="card"><div class="card-body">
      <h1><i class="fa fa-user-group ci"></i></h1>
      <h5>Partners</h5>
<p style="font-size: 13px;"><span style="color:#03a84e">12 articles</span> <br>
        Last Update 15 day  ago</p>
    </div></div></div>

    <div class="col-md-4"><div class="card"><div class="card-body">
      <h1><i class="fa fa-layer-group ci"></i></h1>
      <h5>Contacts</h5>
<p style="font-size: 13px;"><span style="color:#03a84e">5 articles</span> <br>
        Last Update a month ago</p>
    </div></div></div>

    
  </div>
  
<ul style="list-style: none; display: flex;">
  <li class="ion"> <a href="https://twitter.com/tawktotawk/"><i class="fa-brands fa-twitter "></i></a></li>
  <li class="ion"> <a href="https://www.instagram.com/tawktotawk/"><i class="fa-brands fa-instagram ion"></i></a></li>
  <li class="ion"> <a href="https://www.linkedin.com/company/5611254/"><i class="fa-brands fa-linkedin ion"></i></a></li>
  <li class="ion"> <a href="https://www.facebook.com/tawkto/"><i class="fa-brands fa-facebook ion"></i></a></li>
</ul>
</div>

</div>