<div>
    <div class="container" style="padding: 5%;">
        <h1 style="text-align: center;">Compare the savings ...</h1>
        <h3 style="text-align: center;">Compare the savings ...</h3>
<div class="row">
    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-dark" type="button"><h4>Direct Hire</h4></button>
          </div>
          <br>
    </div>
    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-danger" type="button"><h4>Direct Hire</h4></button>
          </div>
          <br>
    </div>
    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-success" type="button"><h4> Hire Chat Agent</h4></button>
          </div>
    </div>

    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>Hourly Rate</p></button>
          </div>
    </div>

   
    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>$20.00 per hour</p></button>
          </div>
    </div>


    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>Recruitment + HR</p></button>
          </div>
    </div>

    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>$1.40 per hour (@ 7%)</p></button>
          </div>
    </div>

    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>Included</p></button>
          </div>
    </div>
    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>Training</p></button>
          </div>
    </div>

    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>Benefits (health, dental etc)</p></button>
          </div>
    </div>

    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>$7.00 per hour (@ 35%)</p></button>
          </div>
    </div>

    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>Included</p></button>
          </div>
    </div>

    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>Overhead (office, equipment etc)</p></button>
          </div>
    </div>

    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>$0.40 per hour (@ 2%)</p></button>
          </div>
    </div>

    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>Included</p></button>
          </div>
    </div>

    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>Payroll Tax</p></button>
          </div>
    </div>

    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>$2.40 per hour (@ 12%)</p></button>
          </div>
    </div>
  
    
    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>Included</p></button>
          </div>
    </div>


      <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>Absences (vacation, holiday & sick)</p></button>
          </div>
    </div>
    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>$2.60 per hour (@ 13%)</p></button>
          </div>
    </div>
    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>Included</p></button>
          </div>
    </div>

    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>TOTAL</p></button>
          </div>
    </div>
    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>$25,404 / month</p></button>
          </div>
    </div>
    <div class="col-md-4">
        <div class="d-grid gap-2 col-10 mx-auto">
            <button class="btn btn-light" type="button"><p>$728 / Month</p></button>
          </div>
    </div>
</div>

<br>

<h1 style="text-align: center;" >Incredible savings right?</h1>
<br>
<div style="text-align: center;">
    <button class="btn btn-success btn-lg "  style="background-color: #03a84e; margin-right: 10%;"><i class="fa-sharp fa-solid fa-chalkboard-user"></i>7-DAY FREE TRIAL</button>
    <button class="btn btn-outline-success btn-lg l" style="color: #03a84e;"><i class="fa-solid fa-phone"></i> SCHEDULE CALL</button>
    </div>
</div>
</div>