<div class="container" style="padding: 5%; padding: 0%;">
    <div class="row">
       <div class="col-md-6"style="padding: 5%;">
        <div class="card" style="border: none;">
            <div class="header">
                <img style="width:50%;float:left;" src="https://dashboard.tawk.to/_s/assets/images/tawk-logo-other-3x.png" alt="">
                <img style="float: right;" src="https://dashboard.tawk.to/_s/assets/images/tawk-tree-other.png" alt="">
            </div>
        
        <div class="card-body">
            <h5 style="color: #03a84e;">What's the latest</h5>
         <a href="" style="color: black;"><h4>Resolve support tickets fast with these strategies</h4></a>
         <p>Thu Feb 09 2023</p>
         <p style=" font-size: smaller;">Use these ticketing strategies from tawk.to to speed up help desk responses,
              win underserved customers, and better serve the customers you have.</p>
              <a href=""style="color: #03a84e;">Learn More </a>
             <hr>
             <a href="" style="color: black;"><h4>Increase your productivity in 2023: 
                 Time-saving strategies for entrepreneurs</h4></a>
             <p>Thu Feb 09 2023</p>
             <p style=" font-size: smaller;">When you’re an entrepreneur, time is often in short supply. We hear you. 
                 To make 2023 your best year yet, test these tried and true time-saving strategies.</p>
             <a href="" style="color: #03a84e;">Learn More</a>
        </div>
           
        </div>
       </div>

       <div class="col-md-6"style="padding: 5%; padding-top:10%" >
       <div class="card" style="border: none;" >
       <div class="card-body">
        <h3 style="text-align: center;">Log in to your tawk.to account</h3> <br>
        <div class="d-grid col-10 mx-auto">
            <input  class="form-control-lg" type="text" placeholder="Enter Email"> <br>
            <input class="form-control-lg"type="text" placeholder="Enter Your Password"> <br>
            <button  class="btn btn-success btn-lg" style="background-color: #03a84e;">Sign In</button>
        </div> <br><br>
        <div class="form-check" >
            <input style="margin-left: 12px;" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault" style="float: left;">Rember me</label>
            <p style="color: #03a84e; float: right;">Forgot Password?</p>
          </div>
<div><p style="text-align: center;">Dont have an account?<a href=""style="color: #03a84e;">Createfreeaccount</a></p>
</div>   
    </div>
       </div>
       
       </div>
    </div>
</div>

