<div class="main" style="background-color: #F9F9F9;">
    <div class="container" style="padding: 5%;">
        <h2 style="text-align: center;">Could your site be generating more leads and sales?</h2> <br>
        <h4 style="text-align: center;">Do visitors bounce or abandon their shopping carts?</h4> <br>
        <h6 style="text-align: center;">
            More leads, more sales and happier customers — that’s what hired chat agents deliver. <br>
    We’ll be there for your customers, right when they need you the most — 24×7-365.</h6> 
          
    <br>
    <div style="text-align: center;">
    <button class="btn btn-success btn-lg "  style="background-color: #03a84e; margin-right: 10%;"><i class="fa-sharp fa-solid fa-chalkboard-user"></i>7-DAY FREE TRIAL</button>
    <button class="btn btn-outline-success btn-lg l" style="color: #03a84e;"><i class="fa-solid fa-phone"></i> SCHEDULE CALL</button>
    </div>
    </div>
</div>

