<div style=" background-color: rgb(25, 24, 24); color: white;">
    <div class="container" style="padding: 5%;">
        <br>
        <div class="row ">
            <div class="col-md-2 l ">Get tawk.to</div>
            <div class="col-md-2 l"> <i style="color: #03a84e;;" class="fa fa-globe"></i>  Web Browser</div>
            <div class="col-md-2 l"><i style="color: #03a84e;;" class="fa-brands fa-windows"></i>  Windows</div>
            <div class="col-md-2 l"><i style="color: #03a84e;;" class="fa-brands fa-apple"></i>  macOS</div>
            <div class="col-md-2 l"> <i style="color: #03a84e;;" class="fa fa-mobile"></i>  iOS & ANdroid</div>
        </div>
<br> <br>
        <div class="row">
            <div class="col-lg-2 col-sm-12"> 
                <ul class="l bl">
                    <h6 style="color: #03a84e;">Products</h6>
                    <li class="lit" [routerLink]="['/livechat']">Live Chat</li>
                    <li class="lit" [routerLink]="['/chatpages']">Chat Pages</li>
                    <li class="lit" [routerLink]="['/knowledgebase']">Knowledge Base</li>
                    <li class="lit" [routerLink]="['/contact']"> Contact-a Free CRM</li>
                </ul>
            </div>

            <div class="col-lg-2 col-sm-12">
                <ul class="l bl">
                    <h6 style="color: #03a84e;;">Services</h6>
                    <li class="lit"[routerLink]="['/service/hire-chat-agent']">Hire Chat Agents </li>
                    <li class="lit" [routerLink]="['/service/hire-virtual-assistance']">Hire a Virtual Assistant</li>
                </ul>
            </div>

            <div class="col-lg-2 col-sm-12">
                <ul class="l bl">
                    <h6 style="color: #03a84e;;">Resources</h6>
                    <li class="lit" [routerLink]="['/resources/helpcenter']">Help Center</li>
                    <li class="lit">Academy</li>
                    <li class="lit">Developrs</li>
                    <li class="lit">Status</li>
                    <li class="lit">Blog</li>
                </ul>
            </div>

            <div class="col-lg-2 col-sm-12">
                <ul class="l bl">
                    <h6 style="color: #03a84e;;">About</h6>
                    <li class="lit" [routerLink]="['/whyfree']">WhyFree?</li>
                    <li class="lit">Careers-Join Us!</li>
                    <li class="lit">Customers</li>
                    <li class="lit">Partners</li>
                </ul>
            </div>

            <div class="col-lg-3 col-sm-12">
                <ul class="l bl">
                    <h6 style="color: #03a84e;;">  Let's tawk?</h6>
                    <li><p style="font-size:medium;">The #03a84e; widget you see below this text is the tawk.to live chat widget, if you click it you will see the window maximize and 
                        you will be able to chat with the tawk.to team 24×7-365.You can add a chat widget like this on your own site,
                        with your own custom colors,messages,size, position and language. Click the widget and give it a try!</p></li>
                </ul>
            </div>

        </div>

        <br><br><br>
        <div class="row">
            <div class="col-lg-6">
                <ul style="display: flex;" class="l bl">
                    <li  style="padding-right: 10px;">Privacy&Terms</li>
                    <li  style="padding-right: 10px;">ReportAbuse</li>
                    <li  style="padding-right: 10px;">ContactUs</li>
                </ul>  
            </div>
            <div class="col-lg-6 ">
                <ul class="bl" style="display: flex; list-style: none; float: right;">
                    <li style="padding-right: 13px;"><i class=" icon fa-brands fa-linkedin"></i></li>
                    <li style="padding-right: 13px;"><i class=" icon fa-brands fa-twitter"></i></li>
                    <li style="padding-right: 13px;"><i class=" icon fa-brands fa-facebook"></i></li>
                    <li style="padding-right: 13px;"><i class=" icon fa-brands fa-instagram"></i></li>
                    <li style="padding-right: 13px;"><i class=" icon fa-brands fa-youtube"></i></li>
                    <li style="padding-right: 13px;"><i class=" icon fa-brands fa-wikipedia-w"></i></li>
                </ul>
            </div>
        </div>

        <hr style="color: #03a84e;;">
        <p class="l">
            © Copyright 2023 tawk.to, inc. All Rights Reserved. Various trademarks held by their respective owners.</p>
    </div>
</div>
 