<div class="main5">
    <div class="container" style="padding: 5%;">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header t" style="background-color: #03a84e; color: white;">
                        <h2>Full Time</h2>
                        Schedule up to 40 hrs a week — perfect for
                        connecting with customers during business hours, or a few hours a day.
                    </div>
                    <div class="card-body">
                        <p class="card-title">
                            <span style="color: #03a84e;font-size: 35px;">$</span>
                            <span style="color:#03a84e;font-size: 65px;">220</span>
                              <span style="color: black;">perhour</span></p>
                        
                        <p class="card-text">40 hours a week</p>
                        <a href="#" class="btn btn-success" style="background-color: #03a84e;">7-DAY FREE TRIAL</a>
                        <P>No lock in contracts. Upgrade, downgrade or cancel at any time</P>
                    </div>

                </div>
            </div>
<br>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header t" style="background-color: #03a84e; color: white;">
                        <h2>Double Shift</h2>
                        Need to cover two shifts? Schedule 80 hrs a week and be there
                        more often for your prospects and customers.
                    </div>
                    <div class="card-body">
                        <p class="card-title">
                            <span style="color: #03a84e;font-size: 35px;">$</span>
                            <span style="color:#03a84e;font-size: 65px;">150</span>
                              <span style="color: black;">perhour</span></p> 
                        <p class="card-text">80 hours a week</p>
                        <a href="#" class="btn btn-success" style="background-color: #03a84e;">7-DAY FREE TRIAL</a>
                        <P>No lock in contracts. Upgrade, downgrade or cancel at any time</P>
                    </div>

                </div>
            </div>
<br>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header t" style="background-color: #03a84e; color: white; ">
                        <h2>Days & Weekends</h2>
                        Busy evenings and weekends? or 18+/hrs a day? Schedule 128/hrs a week, and we'll be there for
                        you.
                    </div>
                    <div class="card-body">
                        <p class="card-title">
                            <span style="color: #03a84e;font-size: 35px;">$</span>
                            <span style="color:#03a84e;font-size: 65px;"> 1 10</span>
                              <span style="color: black;">perhour</span></p> 
                        <p class="card-text">128 hours a week</p>
                        <a href="#" class="btn btn-success" style="background-color: #03a84e;">7-DAY FREE TRIAL</a>
                        
                        <P>No lock in contracts. Upgrade, downgrade or cancel at any time</P>
                    </div>

                </div>
            </div>
<br> <br>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header t" style="background-color: #03a84e; color: white;">
                        <h2>24x7-365 </h2>
                        The plan that made us famous — at an unbeatable $1/hr, we've got you covered 24x7-365.
                        Your customers are going to love you.
                    </div>
                    <div class="card-body">
                        <p class="card-title">
                            <span style="color: #03a84e;font-size: 35px;">$</span>
                            <span style="color:#03a84e;font-size: 65px;">1</span>
                              <span style="color: black;">perhour</span></p>
                        <p class="card-text">24x7</p>
                        <a href="#" class="btn btn-success" style="background-color: #03a84e;">7-DAY FREE TRIAL</a>
                        <P>No lock in contracts. Upgrade, downgrade or cancel at any time</P>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>