<div class="container" style="padding: 5%;">
    <!-- colleapse pafe question  -->
    <h1 style="text-align: center;">Have questions?</h1>
    <h5 style="text-align: center;">Let's do our best to answer your most frequently asked questions</h5>

    <div class="row">
        <div class="col-md-6">
            <div class="main">
                <div class="container">
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample">

                                <h5><i class="fa-regular fa-circle-question qi"></i>How many agents can we add?</h5>

                                <div class="collapse" id="collapseExample">
                                    <div class=" card card-body">
                                        
                                        There are no limits to the number of agents you can add to a property. tawk.
                                        to is an agent-centric chat application,
                                        which means every agent has their own account and you can share properties.
                                    </div>
                                </div>
                            </div>


                            <div class="card" 
                             data-bs-toggle="collapse"
                                        data-bs-target="#secondquestion" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        <h5><i class="fa-regular fa-circle-question qi"></i>How can you offer this for
                                            free?</h5>
                                   
                                <div class="collapse" id="secondquestion">
                                    <div class="card card-body">
                                        We generate revenue by providing Hired Agent services for customers that don’t
                                        want to answer the chat themselves.

                                        To use the software and answer yourself is completely free, with no limits at
                                        all on the number of Agents, chat volumes or sites you can add widgets to.

                                        tawk.to is truly 100% free and then just $1/hr if you need professionally
                                        trained, native speaking chat agents to help you answer your chats.

                                        Win/Win right?
                                    </div>
                                </div>
                            </div>

                            <div class="card"
                                 data-bs-toggle="collapse"
                                        data-bs-target="#question" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        <h5><i class="fa-regular fa-circle-question qi"></i>Do you limit the number of
                                            concurrent chats?</h5>
                                   
                                <div class="collapse" id="question">
                                    <div class="card card-body">
                                        No. You can answer as many concurrent chats as you wish. There are no limits.
                                    </div>
                                </div>
                            </div>

                            <div class="card"
                                data-bs-toggle="collapse"
                                        data-bs-target="#fourthquestion" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        <h5> <i class="fa-regular fa-circle-question qi"></i>Is our data safe?
                                        </h5>
                                  
                                <div class="collapse" id="fourthquestion">
                                    <div class="card card-body">
                                        We take your privacy and data security very seriously. All communication between
                                        you and your visitors is over SHA-256 Secure Socket Layer, and all data is
                                        housed
                                        on encrypted servers.

                                    </div>
                                </div>
                            </div>


                            <div class="card"
                                data-bs-toggle="collapse"
                                        data-bs-target="#fifthquestion" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        <h5><i class="fa-regular fa-circle-question qi"></i>Will I ever be charged to use
                                            the software?
                                        </h5>
                                 
                                <div class="collapse" id="fifthquestion">
                                    <div class="card card-body">
                                        No. The Desktop and Mobile apps are all 100% free. We have no intention to
                                        charge you for using the software. It completely goes against our business
                                        model.

                                        A small number of our users pay a very small fee to remove the “Powered by
                                        tawk.to” branding, though you are NOT obliged to do so. We do not limit
                                        features.

                                        Offering a premium product completely free is what has made tawk.to the #1 most
                                        widely used chat application in the world.
                                    </div>
                                </div>
                            </div>


                            <div class="card"
                                data-bs-toggle="collapse"
                                        data-bs-target="#sixquestion" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        <h5><i class="fa-regular fa-circle-question qi"></i>Are there any Ads?
                                        </h5>
                                  
                                <div class="collapse" id="sixquestion">
                                    <div class="card card-body">
                                        No! We do not have any annoying Ads within tawk.to! Yuck!

                                        Under no circumstance would we ever sell your data, or promote 3rd party
                                        products to you. You are not the product.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <br>

        </div>

        <div class="col-md-6">
            <div class="container">
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card" data-bs-toggle="collapse"
                                    data-bs-target="#Example" aria-expanded="false" aria-controls="collapseExample">
                                    <h5><i class="fa-regular fa-circle-question qi"></i>How do I get support?</h5>
                            <div class="collapse" id="Example">
                                <div class="card card-body">
                                    We offer 24×7-365 live support via both chat and email. Simply initiate a chat on
                                    our site at any time,
                                    and a member of our dedicated support team will help as best as they can.
                                </div>
                            </div>
                        </div>


                        <div class="card" data-bs-toggle="collapse"
                                    data-bs-target="#second" aria-expanded="false" aria-controls="second">
                                    <h5><i class="fa-regular fa-circle-question qi"></i>Where can I find documentation?
                                    </h5>
                             
                            <div class="collapse" id="second">
                                <div class="card card-body">
                                    The tawk.to Help Center can be found here.
                                </div>
                            </div>
                        </div>

                        <div class="card"
                             data-bs-toggle="collapse"
                                    data-bs-target="#third" aria-expanded="false" aria-controls="collapseExample">
                                    <h5><i class="fa-regular fa-circle-question qi"></i>Do you offer a self-hosted
                                        solution?</h5>
                        
                            <div class="collapse" id="third">
                                <div class="card card-body">
                                    tawk.to is a hosted solution. We don’t currently offer an on-premise option.
                                    However, we would like to shed some light on this issue, as it’s important to
                                    understand why that is the case.

                                    tawk.to is currently hosted at Google Cloud, with a globally distributed
                                    architecture, to bring the application as close as possible to both our customers
                                    and end consumers. Due to the nature of Messaging, the speed (and latency) of
                                    message delivery can be the difference between a great or poor visitor experience.

                                    For a product like Live Chat, on-premise hosting is honestly a really bad idea.
                                </div>
                            </div>
                        </div>

                        <div class="card" data-bs-toggle="collapse"
                                    data-bs-target="#fourth" aria-expanded="false" aria-controls="fourth">
                                    <h5><i class="fa-regular fa-circle-question qi"></i>How many businesses use tawk.to?
                                    </h5>
                               
                            <div class="collapse" id="fourth">
                                <div class="card card-body">
                                    tawk.to is the world’s #1 most widely used live chat software. More than 35% of all
                                    websites that use live chat, use tawk.to.

                                    Millions of business users communicate with billions of end consumers via tawk.to.
                                    In fact, over 2 billion end consumers interact with a tawk.to widget each and every
                                    month.


                                    That’s 1/5th of the world’s population.

                                </div>
                            </div>
                        </div>


                        <div class="card" data-bs-toggle="collapse"
                                    data-bs-target="#fifth" aria-expanded="false" aria-controls="collapseExample">
                                    <h5><i class="fa-regular fa-circle-question qi"></i>When is your next Meetup?
                                    </h5>
                               
                            <div class="collapse" id="fifth">
                                <div class="card card-body">
                                    Something we are most proud of at tawk.to is the number of incredible relationships
                                    we have made within our community. Which is why we‘ve continued to invest in
                                    global-meetups since inception.

                                    From Bali to Berlin and Melbourne to Milan, we regularly meet with our community.
                                    We’ve learned so much from the time we’ve spent together.

                                    Given the current restrictions impacting global travel, we have suspended Meetups.
                                    To register your interest and see where the tawk.to crew will be next, please
                                    bookmark <a href="" style="color: red;">meet.tawk.to.</a>We can’t wait to meet you
                                    all out there soon!
                                </div>
                            </div>
                        </div>


                        <div class="card" data-bs-toggle="collapse"
                                    data-bs-target="#six" aria-expanded="false" aria-controls="collapseExample">
                                    <h5><i class="fa-regular fa-circle-question qi"></i>Where are you based?
                                    </h5>
                               
                            <div class="collapse" id="six">
                                <div class="card card-body">
                                    We trade from Las Vegas, Nevada, though tawk.to has a globally distributed team. We
                                    hire the best people we can find, regardless of location. We are a diverse crew. And
                                    when we say diverse, we really mean it.

                                    Our CEO/founder is an Italian-Australian, our CTO is an Indian-Malaysian, our COO is
                                    a Russian-Latvian and we are made up of hundreds of dedicated crew members spread
                                    across 20 different countries and all time zones. Just between our founders alone,
                                    we speak 7 languages. The rest of the crew speak 20+.

                                    We believe you are not defined by where you were born, the religion you follow, the
                                    shade of your complexion, or the language you speak. Diversity and inclusion are at
                                    the core of who we are. We hire based on merit and firmly believe that good people
                                    attract good people.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>