.unorder{
    list-style: none;
}
.l{
    color: #03a84e;
 }
 @media(max-width :400px){
   .bl{
    text-align: center;
    }
 }

 @media(max-width:1600px){
    .unorder{
        padding-left: 25%;
    }
 }

 @media(max-width:400px){
    .unorder{
        padding: 3%;
    }
}
 
