<div class="container" style="padding: 5%;">
    <h2 style="text-align: center;">Make it easy to start a conversation</h2>
    <h6 style="text-align: center;"> <br>
        Your customers have spoken loud and clear. Messaging is their channel of  <br>
        choice — and you need to be where your customers are, when they need you the most.</h6> 
       
    <div style="text-align: center;">    
    <ul class="unorder bl" style="display: flex;" >
        <li style="padding: 5%;"><i class="fa-solid fa-circle-check l"></i>Easy setup</li>
        <li style="padding: 5%;"><i class="fa-solid fa-circle-check l"></i>Free Forever</li>
        <li style="padding: 5%;"><i class="fa-solid fa-circle-check l"></i>Secure</li>
    </ul>
    
        <button class="btn btn-success btn-lg bl" style="background-color: #03a84e;"><i class="fa-regular fa-thumbs-up"></i>SIGN UP FREE </button>
    </div>
</div>
